<% include ../partials/header %>
<% include ../partials/admin-sidebar %>
<% include ../partials/admin-navbar %>
<% include ../partials/loadSelectList %>
<h2>QUERY PAGE</h2>
<form class="form-inline">
  <div class="form-group" id = "filters">
    <table class="table table-bordered table-striped">
      <tr>
        <th>
          <label for="exampleFormControlSelect0">Tables</label>
          <select class="form-control" id="exampleFormControlSelect0">
            <%loadInList(selectList1)%>
          </select>
        </th>
        <th>
          <label for="exampleFormControlSelect1">Name</label>
          <select class="form-control" id="exampleFormControlSelect1">
            <option>ALL</option>
            <%loadInList(selectList2)%>
          </select>
        </th>

        <th>
          <label for="exampleFormControlSelect2">Year</label>
          <select class="form-control" id="exampleFormControlSelect2">
            <%loadInList([{year:"ALL"}, {year:1}, {year:2}, {year:3}, {year:4}, {year:5}])%>
          </select>
        </th>
        <th>

          <label for="from">From:</label>
            <input type="date" id="from">
        </th>
        <th>

          <label for="to">To:</label>
            <input type="date" id="to">
        </th>

      </th>
    </table>

  </div>

</form>

<div class="panel-body" runat="server" style="overflow-x: scroll; background:#f7f9f9;">
    <div class="mid-width wrapItems">
      <form class = "form-inline">
    <div class = "form-group" id = "columnFilter">
    </div>
  </form>
</div>
</div>



<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Service Details</h4>
                        <p class="category">information about duration, designation etc.</p>
                    </div>
                    <div class="panel-body" runat="server" style="overflow-x: scroll;">
                        <div class="mid-width wrapItems">
                    <div class="card-content table-responsive">
                        <table class="table" id="tableR">


                        </table>
                    </div>
                  </div>
              </div>
                    <button class="btn btn-primary pull-left"  id = "getReport" style="margin:13px">Generate Excel file</button>
                    </a>
                </div>
            </div />
        </div>
    </div>
</div>


<% include ../partials/footer %>
<script src="/js/queryFunctions.js"></script>
