<% include ../partials/header %>
<% include ../partials/department-sidebar %>
<% include ../partials/department-navbar %>
<% include ../partials/loadTablePartial %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <h2>Activities Conducted by Department</h2>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Industrial Visit</h4>
                        <p class="category">information about industtrial visits.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Sl. No</th>
                                <th>Industry Name</th>
                                <th>Scheduled Date</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>2010</td>
                                    <td>Oud-Turnhout</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2013</td>
                                    <td>Sinaai-Waas</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>2012</td>
                                    <td>Baileux</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href = "department/generateexcel/1/5/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal1" style="margin:13px" onclick="fillDataVerticleTable(1)">Update</button>                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Invited Guest Lectures</h4>
                        <p class="category">information about guest lectures invited to the college</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Sl. No</th>
                                <th>Name</th>
                                <th>Expert Organization / Address</th>
                                <th>Title</th>
                                <th>Area of Specialization</th>
                                <th>Date of the Lecture</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>2010</td>
                                    <td>Oud-Turnhout</td>
                                    <td>Niger</td>
                                    <td class="text-primary">$36,738</td>
                                    <td>UG</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2013</td>
                                    <td>Sinaai-Waas</td>
                                    <td>Netherlands</td>
                                    <td class="text-primary">$23,789</td>
                                    <td>UG</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>2012</td>
                                    <td>Baileux</td>
                                    <td>Curaçao</td>
                                    <td class="text-primary">$56,142</td>
                                    <td>PG</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href = "department/generateexcel/2/5/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal1" style="margin:13px" onclick="fillDataVerticleTable(1)">Update</button>                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Seminars | Workshops</h4>
                        <p class="category">information about seminars and workshops conducted in the college.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Sl. No</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Title</th>
                                <th>Event</th>
                                <th>Broad Area</th>
                            </thead>
                            <tbody>
                              <tr>
                                  <td>1</td>
                                  <td>2010</td>
                                  <td>Oud-Turnhout</td>
                                  <td>Niger</td>
                                  <td class="text-primary">$36,738</td>
                                  <td>UG</td>
                              </tr>
                              <tr>
                                  <td>2</td>
                                  <td>2013</td>
                                  <td>Sinaai-Waas</td>
                                  <td>Netherlands</td>
                                  <td class="text-primary">$23,789</td>
                                  <td>UG</td>
                              </tr>
                              <tr>
                                  <td>3</td>
                                  <td>2012</td>
                                  <td>Baileux</td>
                                  <td>Curaçao</td>
                                  <td class="text-primary">$56,142</td>
                                  <td>PG</td>
                              </tr>
                            </tbody>
                        </table>
                    </div>
                    <a href = "department/generateexcel/3/5/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal1" style="margin:13px" onclick="fillDataVerticleTable(1)">Update</button>                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
