<% include ../partials/header %>
<% include ../partials/department-sidebar %>
<% include ../partials/department-navbar %>
<% include ../partials/loadTablePartial %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <h2>Activities Conducted by Department</h2>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Industrial Visit</h4>
                        <p class="category">information about industtrial visits.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Industry Name</th>
                                <th>Scheduled Date</th>
                            </thead>
                            <tbody>
                                <% loadInTable(data.industrial_visit)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/department/generateexcel/1/5/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right facultyDisable hodDisable principalDisable " data-toggle="modal" data-target="#myModal1" style="margin:13px" onclick="fillDataVerticleTable(1)">Insert</button>                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Invited Guest Lectures</h4>
                        <p class="category">information about guest lectures invited to the college</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Name</th>
                                <th>Expert Organization / Address</th>
                                <th>Title</th>
                                <th>Area of Specialization</th>
                                <th>Date of the Lecture</th>
                            </thead>
                            <tbody>
                                <% loadInTable(data.guest_lectures_invited)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/department/generateexcel/2/5/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right facultyDisable hodDisable principalDisable" data-toggle="modal" data-target="#myModal1" style="margin:13px" onclick="fillDataVerticleTable(1)">Insert</button>                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Seminars | Workshops</h4>
                        <p class="category">information about seminars and workshops conducted in the college.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>Title</th>
                                <th>Event</th>
                                <th>Broad Area</th>
                            </thead>
                            <tbody>
                                <% loadInTable(data.seminar_workshop)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/department/generateexcel/3/5/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right facultyDisable hodDisable principalDisable" data-toggle="modal" data-target="#myModal1" style="margin:13px" onclick="fillDataVerticleTable(1)">Insert</button>                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/disable-buttons %>
<% include ../partials/footer %>
