<% include ../partials/header %>
<% include ../partials/department-sidebar %>
<% include ../partials/department-navbar %>
<% include ../partials/loadTablePartial %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <h2>Activities Conducted by Department</h2>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Industrial Visit</h4>
                        <p class="category">information about industtrial visits.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Industry/Organization</th>
                                <th>Date of Visit</th>
                                <th>Place</th>
                                <th>Semester</th>
                                <th>No of Students</th>
                            </thead>
                            <tbody>
                                <% loadInTableModular('industrial_visit', updatePermission)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/department/generateexcel/1/5/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right  insertButton" data-toggle="modal" data-target="#myModalModular" style="margin:13px" onclick="fillDataModularInsert('industrial_visit')">Insert</button>                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Invited Guest Lectures</h4>
                        <p class="category">information about guest lectures invited to the college</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Guest Lecturer Name</th>
                                <th>Designation</th>
                                <th>Affiliation</th>
                                <th>Title</th>
                                <th>Area of Specialization</th>
                                <th>Date</th>
                            </thead>
                            <tbody>
                                <% loadInTableModular("guest_lectures_invited", updatePermission)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/department/generateexcel/2/5/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right  insertButton" data-toggle="modal" data-target="#myModalModular" style="margin:13px" onclick="fillDataModularInsert('guest_lectures_invited')">Insert</button>                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Events Organized</h4>
                        <p class="category">information about seminars and workshops conducted in the college.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Event</th>
                                <th>Title</th>
                                <th>Start Date</th>
                                <th>End Date</th>
                                <th>No. of Participants</th>
                                <th>Sponsors</th>
                                <th>Coordinator(s)</th>
                                <th>Collaborator(s) if any</th>
                            </thead>
                            <tbody>
                                <% loadInTableModular("events_organized", updatePermission)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/department/generateexcel/3/5/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right  insertButton" data-toggle="modal" data-target="#myModalModular" style="margin:13px" onclick="fillDataModularInsert('events_organized')">Insert</button>                </div>
            </div>
        </div>
    </div>
</div>
<% include ../partials/disable-buttons %>
<% include ../partials/footer %>
