<% include ../partials/header %>
<% include ../partials/department-sidebar %>
<% include ../partials/department-navbar %>
<% include ../partials/loadTablePartial %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <h2>Professional Body/BOE/BOS/Editors/Session Chairs</h2>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Professional Activities</h4>
                        <p class="category">information about professional activities.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Sl. No</th>
                                <th>Name of the Faculty</th>
                                <th>Board</th>
                                <th>College</th>
                                <th>External / Internal</th>
                                <th>Year</th>
                            </thead>
                            <tbody>
                                <%loadInTable(data.professional_activities)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/department/generateexcel/1/6/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right insertButton" data-toggle="modal" data-target="#myModal1" style="margin:13px" onclick="fillDataVerticleTable(1)">Update</button>                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Professional Body Membership.</h4>
                        <p class="category">information about professional bodies.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Sl. No</th>
                                <th>Name</th>
                                <th>Name of Professional Body</th>
                                <th>Type of Membership</th>
                                <th>Year of Subscription</th>
                            </thead>
                            <tbody>
                                <%loadInTable(data.professional_body_membership)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/department/generateexcel/2/6/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right insertButton" data-toggle="modal" data-target="#myModal1" style="margin:13px" onclick="fillDataVerticleTable(1)">Update</button>                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Other Memberships</h4>
                        <p class="category">information about seminars and workshops conducted in the college.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Sl. No</th>
                                <th>Name</th>
                                <th>Type of Contribution</th>
                                <th>Year</th>
                                <th>External / Internal</th>
                            </thead>
                            <tbody>
                                <%loadInTable(data.other_membership)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/department/generateexcel/3/6/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right insertButton" data-toggle="modal" data-target="#myModal1" style="margin:13px" onclick="fillDataVerticleTable(1)">Update</button>                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/disable-buttons %>
<% include ../partials/footer %>
