<% include ../partials/header %>
<% include ../partials/department-sidebar %>
<% include ../partials/department-navbar %>
<% include ../partials/loadTablePartial %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <h2>Student Information</h2>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Student Achievements / Awards</h4>
                        <p class="category">information about students participating in events and winning awrds.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Student Name</th>
                                <th>Event Name</th>
                                <th>Date</th>
                                <th>Award</th>
                                <th>Category</th>
                            </thead>
                            <tbody>
                                <% loadInTable(data.student_achievement)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/department/generateexcel/1/2/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right  insertButton" data-toggle="modal" data-target="#myModal1" style="margin:13px" onclick="fillDataVerticleTable(1)">Update</button>                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Student Activities</h4>
                        <p class="category">information about student activities.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Student Name</th>
                                <th>Event Name</th>
                                <th>Date</th>
                                <th>Industry / Organization</th>
                                <th>Category</th>
                            </thead>
                            <tbody>
                                <% loadInTable(data.student_activities)%>
                            </tbody>
                        </table>
                    </div>
                   <a href = "/department/generateexcel/2/2/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal1" style="margin:13px" onclick="fillDataVerticleTable(1)">Update</button>                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Student Publications</h4>
                        <p class="category">information about student publications.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Authors</th>
                                <th>Title</th>
                                <th>Date</th>
                                <th>Conference / Journal</th>
                                <th>Place</th>
                            </thead>
                            <tbody>
                                <% loadInTable(data.student_publication)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/department/generateexcel/3/2/?departmentId=<%-GetParam%>">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                <button class="btn btn-primary pull-right  insertButton" data-toggle="modal" data-target="#myModal1" style="margin:13px" onclick="fillDataVerticleTable(1)">Update</button>                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/disable-buttons %>
<% include ../partials/footer %>
