<div class="sidebar" data-color="purple" data-image="../assets/img/sidebar-1.jpg" style="z-index:4">

<div class="logo" style=" background-color:#9C27B0">
    <img src="/assets/img/brand.png" style="height:70px;" class="img-responsive">
    </img>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
        <li
        <% if(type=="index"){%>
        class="active"
        <% } %>
        >
            <a href="/admin">
                <i class="material-icons">dashboard</i>
                <p>General Information</p>
            </a>
        </li>
        <li
        <% if(type=="add-faculty"){%>
        class="active"
        <% } %>
        >            <a href="/admin/add-faculty">
                <i class="material-icons">person</i>
                <p>Add Faculty</p>
            </a>
        </li>
        <li
        <% if(type=="remove-faculty"){%>
        class="active"
        <% } %>
        >            <a href="/admin/remove-faculty">
                <i class="material-icons">content_paste</i>
                <p>Remove Faculty</p>
            </a>
        </li>
        <li
        <% if(type=="change-hod"){%>
        class="active"
        <% } %>
        >            <a href="/admin/admission-details">
                <i class="material-icons">library_books</i>
                <p>Change HOD</p>
            </a>
        </li>
        <li
        <% if(type=="change-principal"){%>
        class="active"
        <% } %>
        >            <a href="/admin/activities">
                <i class="material-icons">bubble_chart</i>
                <p>Change principal</p>
            </a>
        </li>
        <li
        <% if(type=="admin-reports"){%>
        class="active"
        <% } %>
        >            <a href="/admin/admin-reports">
                <i class="material-icons">bubble_chart</i>
                <p>Reports</p>
            </a>
        </li>
 
        <li class="active-pro" style="margin-bottom:7%; text-transform: uppercase;">
            <a style="background-color:#9C27B0; color:white;">
                <%-authType%>
            </a>
        </li>
    </ul>
</div>
