<%

    loadInList=function(resultSet)
    {
      console.log("result set is : " + JSON.stringify(resultSet));
        for(var i = 0; i<resultSet.length; i++)
        {

            for(var j in resultSet[i])
            {
              console.log("result seti is : " + JSON.stringify(j));

                __append('<option>' + resultSet[i][j] + '</option>');
            }

        }
    }
    loadInListYear=function(resultSet){
        for(var i = 0 ; i<resultSet.length;i++){
            for(var j in resultSet[i]){
                __append('<option>' + resultSet[i][j] + '</option>');
            }
        
        }
    }

%>
