<%

    loadInTable=function(resultSet, tableNumber, tableName){
        for(var i = 0 ; i<resultSet.length;i++){
            __append('<tr id = "' + tableName + 'Row' + (i + 1) + '"data-toggle="modal" data-target="#myModal'+tableNumber +'" onclick="fillData(this,'+tableNumber+')" onmouseover="hoverEffect(this)" onmouseout="removeHoverEffect(this)">');
            for(var j in resultSet[i]){
                // console.log(j + 'hello');    
                // console.log(resultSet[i]);            
                __append('<td>');
                if(resultSet[i][j]!=null)
                    __append(''+resultSet[i][j] +'');
                else
                    __append("-");
                __append('</td>');
            }
            // __append('<td><input class = "btn btn-primary" id = "' + tableName + 'Edit' + (i + 1) + '" style="margin:13px" value = "Edit" type = "button"></button></td>')

        __append('</tr>');
        }
    }
    loadInTableEditable=function(resultSet){
        for(var i = 0 ; i<resultSet.length;i++){
            __append("<tr>");
            for(var j in resultSet[i]){
                __append("<td>");
                __append(""+resultSet[i][j]);
                __append("</td>");
            }
        __append("</tr>");
        }
    }


%>





<script>
    function hoverEffect(event){
        event.style.background = "#EEEEEE";
        console.log("this function is a");
    }
    function removeHoverEffect(event){
        event.style.background = "white";
    }
    function fillData(resultSet,tableNumber){
        var rowData = resultSet.cells;
        console.log(rowData[1].innerHTML);
        var noOfEntries = rowData.length;
            for(var i = 0;i<noOfEntries - 1;i++){
                console.log('data'+tableNumber + i);
                document.getElementById('data'+ tableNumber + i).value = rowData[i].innerHTML;
            }
        //add("Update", tableNumber)
    }
    function updateData(buttonId, buttonName){
        console.log(buttonId + " " + buttonName);
        DataRep = {};
        //extract tableName from buttonId
        buttonId = buttonId.replace("Update", "");
        console.log(buttonId);
        var qualificationSchema = ['beUniversity', 'bePassPercentage', 'bePassYear', 'mtechUniversity', 'mtechPassPercentage', 'mtechPassYear', 'phdUniversity', 'phdAwardYear', 'phdAreaOfSpecialization', 'slNo'];
        for(var i = 1; i < 10; i++){
            DataRep[qualificationSchema[i - 1]] = document.getElementById('data' + buttonId + i).value;
        }
        DataRep[qualificationSchema.slice(-1)] = document.getElementById('data' + buttonId + '0').value;//the slNo

        console.log(DataRep);
        $.ajax({
              type: 'POST',
              data: JSON.stringify(DataRep),
              contentType: 'application/json',
              url: 'http://localhost:3000/v1/apis/update/qualification/' + buttonName + '/',
              success: function(dataRecieved) {
                //console.log('success');
                console.log(JSON.stringify(dataRecieved));
              }
        });
        var divHiddenId = document.getElementById('data' + buttonId + 0);
        var trId = "facultyQualificationRow" + divHiddenId.value;
        console.log(trId);
        dataForSelect = {
            'schema' : qualificationSchema.slice(0, -1),
            'whereOption' : qualificationSchema.slice(-1) + '=' + divHiddenId.value
        };
        trObject = document.getElementById(trId);
        console.log(trObject);
        $.ajax({
              type: 'POST',
              data: JSON.stringify(dataForSelect),
              contentType: 'application/json',
              url: 'http://localhost:3000/v1/apis/data/' + buttonName + '/',
              success: function(dataRecieved) {
                console.log('success');
                console.log(dataRecieved[0]);// if there is integrity constraint maintained it should recieve only one result entry
                var counter = 1;
                //this code renders the data back to the input entries
                
                //end

              }
            });
    }
</script>