<%
    loadInTable=function(resultSet, tableName, uneditableColumns){
        for(var i = 0 ; i<resultSet.length;i++){
            __append("<tr>");
            for(var j in resultSet[i]){
                console.log(j);                
                __append('<td>');
                if(resultSet[i][j]!=null)
                    __append(''+resultSet[i][j] +'');
                else
                    __append("-");
                __append('</td>');
            }
            // __append('<td><input class = "btn btn-primary" id = "' + tableName + 'Edit' + (i + 1) + '" style="margin:13px" value = "Edit" type = "button"></button></td>')

        __append('</tr>');
        }
    }
    loadInTableEditable=function(resultSet){
        for(var i = 0 ; i<resultSet.length;i++){
            __append("<tr>");
            for(var j in resultSet[i]){
                __append("<td>");
                __append(""+resultSet[i][j]);
                __append("</td>");
            }
        __append("</tr>");
        }
    }
%>
