<%

    loadInTable=function(resultSet, tableName, uneditableColumns){
        for(var i = 0 ; i<resultSet.length;i++){
            __append('<tr data-toggle="modal" data-target="#myModal" onclick="fillData(this,resultSet[i])" onmouseover="hoverEffect(this)" onmouseout="removeHoverEffect(this)">');
            for(var j in resultSet[i]){
                // console.log(j + 'hello');    
                // console.log(resultSet[i]);            
                __append('<td>');
                if(resultSet[i][j]!=null)
                    __append(''+resultSet[i][j] +'');
                else
                    __append("-");
                __append('</td>');
            }
            // __append('<td><input class = "btn btn-primary" id = "' + tableName + 'Edit' + (i + 1) + '" style="margin:13px" value = "Edit" type = "button"></button></td>')

        __append('</tr>');
        }
    }
    loadInTableEditable=function(resultSet){
        for(var i = 0 ; i<resultSet.length;i++){
            __append("<tr>");
            for(var j in resultSet[i]){
                __append("<td>");
                __append(""+resultSet[i][j]);
                __append("</td>");
            }
        __append("</tr>");
        }
    }


%>





<script>
    function hoverEffect(event){
        event.style.background = "#EEEEEE";
        console.log("this function is a");
    }
    function removeHoverEffect(event){
        event.style.background = "white";
    }
    function fillData(resultSet){
        console.log(resultSet.head);
        var rowData = resultSet.cells;
        var noOfEntries = rowData.length;
            for(var i = 1;i<noOfEntries-1;i++){
                document.getElementById('data' + i).value = rowData[i].innerHTML;
            }
    }
</script>