<% include ../partials/header %>
<% include ../partials/institution-sidebar %>
<% include ../partials/institution-navbar %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Ramaiah Institute Of Technology</h4>
                        <p class="category">High Level Overview</p>
                    </div>
                    <div class="card-content table-responsive">
                      <div class="panel panel-default">
                          <div class="panel-heading"><h3>VISION</h3></div>
                          <div class="panel-body"><h5> To evolve into an autonomous institute of International standing for imparting quality technical education.</h5> </div>
                          </div>  <div class="panel panel-default">
                              <div class="panel-heading"><h3>MISSION</h3></div>
                              <div class="panel-body"><h5> MSRIT shall deliver global quality technical education by nurturing a conducive learning environment for a better tomorrow through continuous improvement and customization.</h5> </div>
                            </div>  <div class="panel panel-default">
                              <div class="panel-heading"><h3>QUALITY POLICY</h3></div>
                              <div class="panel-body"><h5> We at M. S. Ramaiah Institute of Technology, Bangalore strive to deliver comprehensive, continually enhanced, global quality technical and management education through an established Quality Management System complemented by the synergistic interaction of the stake holders concerned.</h5> </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/disable-buttons %>
<% include ../partials/footer %>
