<% include ../partials/header %>
<% include ../partials/institution-sidebar %>
<% include ../partials/institution-navbar %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Commitees Information</h4>
                        <p class="category">Information about commitees</p>
                    </div>
                    <div class="card-content table-responsive">
                        
                    </div>
                    <button type="submit" class="btn btn-primary pull-right insertButton" style="margin:13px">Insert</button>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/disable-buttons %>
<% include ../partials/footer %>
