<% include ../partials/header %>
<% include ../partials/faculty-sidebar %>
<% include ../partials/faculty-navbar %>
<% include ../partials/loadTablePartial %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <h2>Academic Details</h2>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Courses</h4>
                        <p class="category">information about courses handled.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Sl. No</th>
                                <th>Year handled</th>
                                <th>Course name</th>
                                <th>UG / PG</th>
                                <th>Labs Handled</th>
                                <th>UG / PG</th>
                            </thead>
                            <tbody>
                                <% loadInTable(resultSet1,1)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/faculty/generateexcel/<%- type %>/1">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Projects</h4>
                        <p class="category">information about projects guided.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Sl. No</th>
                                <th>Batch</th>
                                <th>UG / PG</th>
                                <th>Project Title</th>
                            </thead>
                            <tbody>
                                <% loadInTable(resultSet2,2)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/faculty/generateexcel/<%- type %>/2">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Faculty Research</h4>
                        <p class="category">information about faculty research etc.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Guide name</th>
                                <th>USN</th>
                                <th>Centre Name</th>
                                <th>University</th>
                                <th>Year of registration</th>
                                <th>Title</th>
                                <th>Status</th>
                            </thead>
                            <tbody>
                                <% loadInTable(resultSet3,3)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/faculty/generateexcel/<%- type %>/3">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">PhD Scholar</h4>
                        <p class="category">information about PhD scholars etc.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                              <th>Research Scholar name</th>
                              <th>Guide name</th>
                              <th>USN</th>
                              <th>Centre Name</th>
                              <th>University</th>
                              <th>Year of registration</th>
                              <th>Title</th>
                              <th>Status</th>
                            </thead>
                            <tbody>
                                <% loadInTable(resultSet4,4)%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/faculty/generateexcel/<%- type %>/4">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--model containing form for faculty qualification below -->
<!-- TODO == MAKE MODEL MODULAR -->

<div class="modal fade" id="myModal1" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
  <div class="card">
      <div class="card-header" data-background-color="purple" style="margin-top:-50px;">
          <h4 class="title">Edit Row Data</h4>
      </div>
      <div class="card-content">
          <form>
            <div class="form-group ">
                <label class="control-label">BE University</label>
                <input id="data11" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">BE Pass Percentage</label>
                <input id= "data12" type="email" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">BE Year of Passing</label>
                <input id= "data13" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">M.Tech University</label>
                <input id= "data14" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">M.Tech Pass Percentage</label>
                <input id= "data15" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary pull-right">Update</button>
            <button type="submit" class="btn btn-warning pull-right">Cancel</button>
            <button type="submit" class="btn btn-danger pull-right">Delete</button>
          </form>
      </div>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="myModal2" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
  <div class="card">
      <div class="card-header" data-background-color="purple" style="margin-top:-50px;">
          <h4 class="title">Edit Row Data</h4>
      </div>
      <div class="card-content">
          <form>
            <div class="form-group ">
                <label class="control-label">BE University</label>
                <input id="data21" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">BE Pass Percentage</label>
                <input id= "data22" type="email" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">BE Year of Passing</label>
                <input id= "data23" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">M.Tech University</label>
                <input id= "data24" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">M.Tech Pass Percentage</label>
                <input id= "data25" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary pull-right">Update</button>
            <button type="submit" class="btn btn-warning pull-right">Cancel</button>
            <button type="submit" class="btn btn-danger pull-right">Delete</button>
          </form>
      </div>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="myModal3" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
  <div class="card">
      <div class="card-header" data-background-color="purple" style="margin-top:-50px;">
          <h4 class="title">Edit Row Data</h4>
      </div>
      <div class="card-content">
          <form>
            <div class="form-group ">
                <label class="control-label">BE University</label>
                <input id="data31" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">BE Pass Percentage</label>
                <input id= "data32" type="email" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">BE Year of Passing</label>
                <input id= "data33" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">M.Tech University</label>
                <input id= "data34" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">M.Tech Pass Percentage</label>
                <input id= "data35" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary pull-right">Update</button>
            <button type="submit" class="btn btn-warning pull-right">Cancel</button>
            <button type="submit" class="btn btn-danger pull-right">Delete</button>
          </form>
      </div>
    </div>
  </div>
</div>
</div>


<div class="modal fade" id="myModal4" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
  <div class="card">
      <div class="card-header" data-background-color="purple" style="margin-top:-50px;">
          <h4 class="title">Edit Row Data</h4>
      </div>
      <div class="card-content">
          <form>
            <div class="form-group ">
                <label class="control-label">BE University</label>
                <input id="data41" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">BE Pass Percentage</label>
                <input id= "data42" type="email" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">BE Year of Passing</label>
                <input id= "data43" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">M.Tech University</label>
                <input id= "data44" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">M.Tech Pass Percentage</label>
                <input id= "data45" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary pull-right">Update</button>
            <button type="submit" class="btn btn-warning pull-right">Cancel</button>
            <button type="submit" class="btn btn-danger pull-right">Delete</button>
          </form>
      </div>
    </div>
  </div>
</div>
</div>




<% include ../partials/footer %>
