<% include ../partials/faculty-header %>
<% include ../partials/faculty-sidebar %>
<% include ../partials/faculty-navbar %>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <h2>Academic Details</h2>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Courses</h4>
                        <p class="category">information about courses handled.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Sl. No</th>
                                <th>Year handled</th>
                                <th>Course name</th>
                                <th>UG / PG</th>
                                <th>Labs Handled</th>
                                <th>UG / PG</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>2010</td>
                                    <td>Oud-Turnhout</td>
                                    <td>Niger</td>
                                    <td class="text-primary">$36,738</td>
                                    <td>UG</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>2013</td>
                                    <td>Sinaai-Waas</td>
                                    <td>Netherlands</td>
                                    <td class="text-primary">$23,789</td>
                                    <td>UG</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>2012</td>
                                    <td>Baileux</td>
                                    <td>Curaçao</td>
                                    <td class="text-primary">$56,142</td>
                                    <td>PG</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Projects</h4>
                        <p class="category">information about projects guided.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Sl. No</th>
                                <th>Batch</th>
                                <th>UG / PG</th>
                                <th>Project Title</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Dakota Rice</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td>Minerva Hooper</td>
                                    <td>Curaçao</td>
                                    <td>Sinaai-Waas</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td>Sage Rodriguez</td>
                                    <td>Netherlands</td>
                                    <td>Baileux</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Faculty Research</h4>
                        <p class="category">information about faculty research etc.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Guide name</th>
                                <th>USN</th>
                                <th>Centre Name</th>
                                <th>University</th>
                                <th>Year of registration</th>
                                <th>Title</th>
                                <th>Status</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dakota Rice</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                    <td class="text-primary">$36,738</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                    <td>Dakota Rice</td>
                                </tr>
                                <tr>
                                    <td>Minerva Hooper</td>
                                    <td>Curaçao</td>
                                    <td>Sinaai-Waas</td>
                                    <td class="text-primary">$23,789</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                    <td>Minerva Hooper</td>
                                </tr>
                                <tr>
                                    <td>Sage Rodriguez</td>
                                    <td>Netherlands</td>
                                    <td>Baileux</td>
                                    <td class="text-primary">$56,142</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                    <td>Sage Rodriguez</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">PhD Scholar</h4>
                        <p class="category">information about PhD scholars etc.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                              <th>Research Scholar name</th>
                              <th>Guide name</th>
                              <th>USN</th>
                              <th>Centre Name</th>
                              <th>University</th>
                              <th>Year of registration</th>
                              <th>Title</th>
                              <th>Status</th>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Dakota Rice</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                    <td class="text-primary">$36,738</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                    <td>Minerva Hooper</td>
                                    <td>Curaçao</td>
                                </tr>
                                <tr>
                                    <td>Minerva Hooper</td>
                                    <td>Curaçao</td>
                                    <td>Sinaai-Waas</td>
                                    <td class="text-primary">$23,789</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                    <td>Minerva Hooper</td>
                                    <td>Curaçao</td>
                                </tr>
                                <tr>
                                    <td>Sage Rodriguez</td>
                                    <td>Netherlands</td>
                                    <td>Baileux</td>
                                    <td class="text-primary">$56,142</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                    <td>Minerva Hooper</td>
                                    <td>Curaçao</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/faculty-footer %>
