<% include ../partials/header %>
<% include ../partials/faculty-sidebar %>
<% include ../partials/faculty-navbar %>
<% include ../partials/loadTablePartial %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <h2>Academic Details</h2>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Courses</h4>
                        <p class="category">information about courses handled.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Sl. No</th>
                                <th>Year handled</th>
                                <th>Course name</th>
                                <th>UG / PG</th>
                                <th>Labs Handled</th>
                                <th>UG / PG</th>
                            </thead>
                            <tbody>
                                <% loadInTable(resultSet1)%>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Projects</h4>
                        <p class="category">information about projects guided.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Sl. No</th>
                                <th>Batch</th>
                                <th>UG / PG</th>
                                <th>Project Title</th>
                            </thead>
                            <tbody>
                                <% loadInTable(resultSet2)%>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Faculty Research</h4>
                        <p class="category">information about faculty research etc.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Guide name</th>
                                <th>USN</th>
                                <th>Centre Name</th>
                                <th>University</th>
                                <th>Year of registration</th>
                                <th>Title</th>
                                <th>Status</th>
                            </thead>
                            <tbody>
                                <% loadInTable(resultSet3)%>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">PhD Scholar</h4>
                        <p class="category">information about PhD scholars etc.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                              <th>Research Scholar name</th>
                              <th>Guide name</th>
                              <th>USN</th>
                              <th>Centre Name</th>
                              <th>University</th>
                              <th>Year of registration</th>
                              <th>Title</th>
                              <th>Status</th>
                            </thead>
                            <tbody>
                                <% loadInTable(resultSet4)%>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
