<% include ../partials/header %>
<% include ../partials/faculty-sidebar %>
<% include ../partials/faculty-navbar %>
<% include ../partials/loadTablePartial %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <h2>Achievement Details</h2>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Workshop FDP</h4>
                        <p class="category">information about workshops and FDPs attended.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Sl. No</th>
                                <th>Event Name</th>
                                <th>Date</th>
                                <th>Organized / Attended</th>
                                <th>Title</th>
                                <th>Number of Participants</th>
                                <th>Sponsered / Funded</th>
                            </thead>
                            <tbody>
                                <% loadInTable(resultSet1) %>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Conference Symposia</h4>
                        <p class="category">information about conferences and seminars attended.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Sl. No</th>
                                <th>Name of the Event</th>
                                <th>Place</th>
                                <th>Date</th>
                                <th>Number of Papers Presented</th>
                                <th>Invited / Deputed</th>
                            </thead>
                            <tbody>
                                <% loadInTable(resultSet2) %>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Guest Lectures</h4>
                        <p class="category">information about lectures given as a guest lecture outside college.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Sl. No</th>
                                <th>Invited Place</th>
                                <th>Title</th>
                                <th>Date</th>
                            </thead>
                            <tbody>
                                <% loadInTable(resultSet3) %>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
              <h2>Book and Chapter Publications</h2>
                <div class="card">
                  <div class="card-header" data-background-color="purple">
                      <h4 class="title">Books</h4>
                      <p class="category">information about books published.</p>
                  </div>
                  <div class="card-content table-responsive">
                      <table class="table">
                          <thead class="text-primary">
                              <th>Sl. No</th>
                              <th>Title</th>
                              <th>Authors</th>
                              <th>Publisher</th>
                              <th>Year</th>
                          </thead>
                          <tbody>
                              <% loadInTable(resultSet4) %>
                          </tbody>
                      </table>
                  </div>
                  <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
                <div class="card">
                  <div class="card-header" data-background-color="purple">
                      <h4 class="title">Book Chapters</h4>
                      <p class="category">information about chapters written in books.</p>
                  </div>
                  <div class="card-content table-responsive">
                      <table class="table">
                          <thead class="text-primary">
                              <th>Sl. No</th>
                              <th>Chapter Name</th>
                              <th>Book Name</th>
                              <th>Authors</th>
                              <th>Publisher</th>
                              <th>Year</th>
                          </thead>
                          <tbody>
                              <% loadInTable(resultSet5) %>
                          </tbody>
                      </table>
                  </div>
                  <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
              <h2>Paper Publications</h2>
                <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Conference Publications</h4>
                    <p class="category">information about papers presented in conferences.</p>
                </div>
                <div class="card-content table-responsive">
                    <table class="table">
                        <thead class="text-primary">
                            <th>Sl. No</th>
                            <th>Authors</th>
                            <th>Title</th>
                            <th>Conference Name</th>
                            <th>Conference Type</th>
                            <th>Organized By</th>
                            <th>Date</th>
                            <th>Year</th>
                        </thead>
                        <tbody>
                            <% loadInTable(resultSet6) %>
                        </tbody>
                    </table>
                </div>
                <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
              </div>
                <div class="card">
                  <div class="card-header" data-background-color="purple">
                      <h4 class="title">Journal Publications</h4>
                      <p class="category">information about papers presented in journals.</p>
                  </div>
                  <div class="card-content table-responsive">
                      <table class="table">
                          <thead class="text-primary">
                              <th>Sl. No</th>
                              <th>Authors</th>
                              <th>Title</th>
                              <th>Journal Name</th>
                                <th>Journal Type</th>
                              <th>Volume Number</th>
                              <th>Page Numbers</th>
                              <th>Year</th>
                          </thead>
                          <tbody>
                              <% loadInTable(resultSet7) %>
                          </tbody>
                      </table>
                  </div>
                  <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
              </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
