<% include ../partials/header %>
<% include ../partials/faculty-sidebar %>
<% include ../partials/faculty-navbar %>
<% include ../partials/loadSelectList %>
<form class="form-inline">

  <div class="form-group" id = "filters">
      <label for="exampleFormControlSelect0">Tables</label>
      <select class="form-control" id="exampleFormControlSelect0">
        <%loadInList(selectList1)%>
      </select>
      <label for="exampleFormControlSelect1">Name</label>
      <select class="form-control" id="exampleFormControlSelect0">
        <%loadInList(selectList1)%>
      </select>
      <label for="exampleFormControlSelect2">Year</label>
      <select class="form-control" id="exampleFormControlSelect0">
        <%loadInList([{year:1}, {year:2}, {year:3}, {year:4}, {year:5}])%>
      </select>
  </div>

</form>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Service Details</h4>
                        <p class="category">information about duration, designation etc.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table" id="tableR">

                        </table>
                    </div>
                    <button class="btn btn-primary pull-left"  id = "getReport" style="margin:13px">Generate Excel file</button>
                    <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal1" style="margin:13px">Insert</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>




<% include ../partials/footer %>
<script>
    var filterHistory = {tables:"", facultyName:"", year:""};

    $("#getReport").click(function(){
      console.log("Report Generation");
        var tableName = $('#exampleFormControlSelect0').val();
        var name =$('#exampleFormControlSelect1').val();
        var year = $('#exampleFormControlSelect2').val();
        dataForSelect = {
            'schema': '*',
            'whereOption' : []
        };

        $.ajax({
              type: 'POST',
              data: JSON.stringify(dataForSelect),
              contentType: 'application/json',
              url: 'http://localhost:3000/v1/apis/data/'+tableName+'/',
              success: function(dataRecieved) {
                console.log('success');
                console.log(dataRecieved[0]);// if there is integrity constraint maintained it should recieve only one result entry
                var counter = 1;
                //this code renders the data back to the input entries
                window.location.href = "/faculty/generateexcelTest/" + JSON.stringify(dataRecieved);
                //end

              }
            });
    })

    $("#filters").change(function () {
      var tableName = $('#exampleFormControlSelect0').val();
      var name =$('#exampleFormControlSelect1').val();
      var year = $('#exampleFormControlSelect2').val();

      filterHistory[tables] =  tableName;
      filterHistory[name] = name;
      filterHistory[year] = year;

      dataForSelect = {
          'schema': '*',
          'whereOption' : []
      };
    $.ajax({
          type: 'POST',
          data: JSON.stringify(dataForSelect),
          contentType: 'application/json',
          url: 'http://localhost:3000/v1/apis/data/'+tableName+'/',
          success: function(dataRecieved) {

            buildTable(dataRecieved);

          }
        });
});

  $("#exampleFormControlSelect1").change(function () {
    var tableName = $('#exampleFormControlSelect1').val();
    dataForSelect = {
        'schema': '*',
        'whereOption' : []
    }
  $.ajax({
        type: 'POST',
        data: JSON.stringify(dataForSelect),
        contentType: 'application/json',
        url: 'http://localhost:3000/v1/apis/data/'+tableName+'/',
        success: function(dataRecieved) {
          console.log('success');
          console.log(dataRecieved[0]);
          buildTable(dataRecieved);

        }
      });
  });


function buildTable(json)
{
  console.log(json);
   $("#tableR").empty();
  var columnsAttributes = Object.keys(json[0]);
  var tab= $('#tableR');
  var tr;
  tr = "";

tr+=("<thead class='text-primary'>")
  for(var j = 0; j < columnsAttributes.length; j++)
  {
    dataEntry = columnsAttributes[j];

    tr+=("<th>" + dataEntry + "</th>");

  }
tr+=("</thead><tbody>")


  for (var i = 0; i < json.length; i++)
  {
    tr+="<tr>"

    for(var j = 0; j < columnsAttributes.length; j++)
    {
      dataEntry = eval("json[i]."+columnsAttributes[j]);

      tr+=("<td>" + dataEntry + "</td>");

    }
    tr+="</tr>"

  }
  tr+=("</tbody>");
  tab.html(tr);

}
</script>
