<% include ../partials/header %>
<% include ../partials/faculty-sidebar %>
<% include ../partials/faculty-navbar %>
<% include ../partials/loadSelectList %>
<form class="form-inline">

  <div class="form-group">
      <label for="exampleFormControlSelect0">Tables</label>
      <select class="form-control" id="exampleFormControlSelect0">
        <%loadInList(selectList1)%>
      </select>
  </div>

  <button type="button" id = "getReport" class="btn btn-primary">Get Report</button>
</form>
<p id = "filteredResult"></p>
<div class="table-responsive">
  <table class="table" border = 3>
  </table>
</div>
<% include ../partials/footer %>
<script>
    $("#getReport").click(function(){
        var tableName = $('#exampleFormControlSelect0').val();
        var journalType =$('#exampleFormControlSelect2').val();
        var sjrQuartile = $('#exampleFormControlSelect3').val();
        var year = $('#exampleFormControlSelect4').val();
        dataForSelect = {
            'schema': '*',
            'whereOption' : []
        }

        $.ajax({
              type: 'POST',
              data: JSON.stringify(dataForSelect),
              contentType: 'application/json',
              url: 'http://localhost:3000/v1/apis/data/'+tableName+'/',
              success: function(dataRecieved) {
                console.log('success');
                console.log(dataRecieved[0]);// if there is integrity constraint maintained it should recieve only one result entry
                var counter = 1;
                //this code renders the data back to the input entries
                window.location.href = "/faculty/generateexcelTest/" + JSON.stringify(dataRecieved);
                //end

              }
            });
    })

    $("#exampleFormControlSelect0").change(function () {
      var tableName = $('#exampleFormControlSelect0').val();
      var journalType =$('#exampleFormControlSelect2').val();
      var sjrQuartile = $('#exampleFormControlSelect3').val();
      var year = $('#exampleFormControlSelect4').val();
      //console.log(journalName + " " + journalType + " " + sjrQuartile);
      dataForSelect = {
          'schema': '*',
          'whereOption' : []
      }
    $.ajax({
          type: 'POST',
          data: JSON.stringify(dataForSelect),
          contentType: 'application/json',
          url: 'http://localhost:3000/v1/apis/data/'+tableName+'/',
          success: function(dataRecieved) {
            console.log('success');
            console.log(dataRecieved[0]);// if there is integrity constraint maintained it should recieve only one result entry
            var counter = 1;
            //this code renders the data back to the input entries
            //document.getElementById("filteredResult").innerHTML =   JSON.stringify(dataRecieved);
            //window.location.href = "/faculty/generateExcel/" + JSON.stringify(dataRecieved);
            buildTable(dataRecieved)
            //end

          }
        });
});

function buildTable(json)
{
   $("table").empty();
  var columnsAttributes = Object.keys(json[0]);

  var tr;
  tr = $('<tr/>');

  for(var j = 0; j < columnsAttributes.length; j++)
  {
    dataEntry = columnsAttributes[j];

    tr.append("<th>" + dataEntry + "</th>");

  }

  $('table').first().append(tr);

  for (var i = 0; i < json.length; i++)
  {
    tr = $('<tr/>');

    for(var j = 0; j < columnsAttributes.length; j++)
    {
      dataEntry = eval("json[i]."+columnsAttributes[j]);

      tr.append("<td>" + dataEntry + "</td>");

    }
    $('table').first().append(tr);

  }

}
</script>
