<% include ../partials/header %>
<% include ../partials/faculty-sidebar %>
<% include ../partials/faculty-navbar %>
<% include ../partials/loadTablePartial %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Edit Profile</h4>
                    <p class="category">Complete your profile</p>
                </div>
                <div class="card-content">
                    <table class="table">
                        <tbody>
                        <br>
                            <% loadInTableVerticle(data["faculty"],1) %>
                        </tbody>
                    </table>
                </div>
                <a href = "/faculty/generateexcel/1/1">
                <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                </a>
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal1" style="margin:13px" onclick="fillDataVerticleTable(1)">Update</button>
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal1" style="margin:13px">Insert</button>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="#pablo">
                        <img class="img" src="../assets/img/faces/marc.jpg" />
                    </a>
                </div>
                <div class="content">
                    <h6 class="category text-gray">HOD</h6>
                    <h4 class="card-title">Dr. Anita Kanavalli</h4>
                    <p class="card-content">
                      Dr. Anita Kanavalli received her Ph.D. in Computer Science and Engineering from Bangalore University in 2013. She has published many research papers in International Conferences and Journals. She is a member of Indian Society of Technical Education (ISTE) and IEEE (Computer Society). She has guided many M.Tech students and is guiding PhD scholars. She is serving the institution from past 20+ years. She is also a certified instructor for CISCO Networking Academy for CCNA.
                    </p>
                    <a href="#pablo" class="btn btn-primary btn-round">Profile info</a>
                </div>
            </div>
        </div>
    </div>
</div>






<!--model containing form for faculty qualification below -->
<!-- TODO == MAKE MODEL MODULAR -->



<div class="modal fade" id="myModal1" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
  <div class="card">
      <div class="card-header" data-background-color="purple" style="margin-top:-50px;">
          <h4 class="title">Edit Row Data</h4>
      </div>
      <div class="card-content">
            <div class="col-md-12">
                  <div class="form-group">
                      <label class="control-label">Name</label>
                      <input type="text" id="data11" class="form-control">
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="control-label">Gender</label>
                      <input type="email" id="data12" class="form-control">
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="control-label">Address</label>
                      <input type="text" id="data13" class="form-control">
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="control-label">Religion</label>
                      <input type="text" id="data14" class="form-control">
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="control-label">Caste</label>
                      <input type="text" id="data15" class="form-control">
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="control-label">Date of Birth</label>
                      <input type="text" id="data16" class="form-control">
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="control-label">Nature of Appointment</label>
                      <input type="text" id="data17" class="form-control">
                  </div>
              </div>
              
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="control-label">Contact Number</label>
                      <input type="text" id="data18" class="form-control">
                  </div>
              </div>
              
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="control-label">Email-Id</label>
                      <input type="text" id="data19" class="form-control">
                  </div>
              </div>
              
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="control-label">PAN Number</label>
                      <input type="text" id="data110" class="form-control">
                  </div>
              </div>
              
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="control-label">Account Number</label>
                      <input type="text" id="data111" class="form-control">
                  </div>
              </div>
              <div class="col-md-12">
                  <div class="form-group">
                      <label class="control-label">Pf Number</label>
                      <input type="text" class="form-control">
                  </div>
              </div>
            <button type="submit" class="btn btn-primary pull-right">Update</button>
            <button type="submit" class="btn btn-warning pull-right">Cancel</button>
            <button type="submit" class="btn btn-danger pull-right">Delete</button>          </form>
      </div>
    </div>
  </div>
</div>
</div>



<% include ../partials/footer %>
