<% include ../partials/faculty-header %>
<% include ../partials/faculty-sidebar %>
<% include ../partials/faculty-navbar %>


<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Qualification Details</h4>
                        <p class="category">information about degree, year, university etc.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                              <tr>
                                  <th rowspan="2">Sl. No</th>
                                  <th colspan="3" style="text-align: center">B.E</th>
                                  <th colspan="3" style="text-align: center">M.Tech</th>
                                  <th colspan="3" style="text-align: center">PhD</th>
                              </tr>
                              <tr>
                                  <th>University</th>
                                  <th>Pass Percentage</th>
                                  <th>Year of Passing</th>
                                  <th>University</th>
                                  <th>Pass Percentage</th>
                                  <th>Year of Passing</th>
                                  <th>University</th>
                                  <th>Year of Award</th>
                                  <th>Area of Specialization</th>
                              </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>1</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                    <td class="text-primary">$36,738</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                    <td>Dakota Rice</td>
                                    <td>Niger</td>
                                    <td>Oud-Turnhout</td>
                                    <td>Dakota Rice</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right" style="margin:13px">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/faculty-footer %>
