<% include ../partials/header %>
<% include ../partials/faculty-sidebar %>
<% include ../partials/faculty-navbar %>
<% include ../partials/loadTablePartial %>




<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Qualification Details</h4>
                        <p class="category">information about degree, year, university etc.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                              <tr>
                                  <th rowspan="2">Sl. No</th>
                                  <th colspan="3" style="text-align: center">B.E</th>
                                  <th colspan="3" style="text-align: center">M.Tech</th>
                                  <th colspan="3" style="text-align: center">PhD</th>
                              </tr>
                              <tr>
                                  <th>University</th>
                                  <th>Pass Percentage</th>
                                  <th>Year of Passing</th>
                                  <th>University</th>
                                  <th>Pass Percentage</th>
                                  <th>Year of Passing</th>
                                  <th>University</th>
                                  <th>Year of Award</th>
                                  <th>Area of Specialization</th>
                                  <th>faculty id</th>
                              </tr>
                            </thead>
                            <tbody>
                                <% loadInTable(resultSet, 'qualificationEntry')%>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn btn-primary pull-right" id = "qualificationEdit" style="margin:13px">Edit</button>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>
<script type = "text/javascript">
    $(document).ready(function(){
        $('#qualificationEdit').click(function(){
            //console.log('entered');
            $('[id=qualificationEntry]').each(function(){
                //console.log($(this).prop('readonly'));
                if($(this).prop('readonly') === false){
                    //console.log('setting readonly');
                    $('#qualificationEdit').html('Edit');
                    $(this).prop('readonly', true);
                }
                else{
                    //console.log("unsetting readonly");
                    $('#qualificationEdit').html('Save');
                    $(this).prop('readonly', false);
                }
            });
        })
    })

</script>
