
<% include ../partials/header %>
<% include ../partials/faculty-sidebar %>
<% include ../partials/faculty-navbar %>
<% include ../partials/loadTablePartial %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Qualification Details</h4>
                        <p class="category">information about degree, year, university etc.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <tbody>
                                <% loadInTable(data.faculty,1)%>
                            </tbody>
                        </table>
                    </div>
                <a href = "/faculty/generateexcel/1/2">
                <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                </a>
                <button class="btn btn-primary pull-right" data-toggle="modal" data-target="#myModal1" style="margin:13px">Insert</button>
                </div>
            </div>
        </div>
    </div>
</div>


<!--model containing form for faculty qualification below -->
<!-- TODO == MAKE MODEL MODULAR -->

<div class="modal fade" id="myModal1" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
  <div class="card">
      <div class="card-header" data-background-color="purple" style="margin-top:-50px;">
          <h4 class="title">Edit Row Data</h4>
      </div>
      <div class="card-content">
          <form>
            <div class="form-group ">
                <label class="control-label">BE University</label>
                <input id="data11" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">BE Pass Percentage</label>
                <input id= "data12" type="email" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">BE Year of Passing</label>
                <input id= "data13" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">M.Tech University</label>
                <input id= "data14" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">M.Tech Pass Percentage</label>
                <input id= "data15" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">M.Tech Year of Passing</label>
                <input id= "data16" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">PhD University</label>
                <input id= "data17" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">PhD Year of Award</label>
                <input id= "data18" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">PhD Area of Specialization</label>
                <input id= "data19" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary pull-right">Update</button>
            <button type="submit" class="btn btn-warning pull-right">Cancel</button>
            <button type="submit" class="btn btn-danger pull-right">Delete</button>
          </form>
      </div>
    </div>
  </div>
</div>
</div>




<% include ../partials/footer %>
<script type = "text/javascript">
    $(document).ready(function(){
        $('[id^=qualificationEdit]').click(function(){
            var qualificationSchema = ['slNo', 'beUniversity', 'bePassYear', 'bePassPercentage', 'mtechUniversity', 'mtechPassYear', 'mtechPassPercentage', 'phdUniversity', 'phdAwardYear', 'phdAreaOfSpecialization'];
            buttonId = '#' + $(this).attr('id');

            DataRow = []
            
            $('[id=' + $(this).attr('id').slice(0, -5) + 'Entry' + $(this).attr('id').slice(-1) + ']').each(function(){
                
                if($(this).prop('readonly') === false){
                    $(this).prop('readonly', true);
                }
                else{
                    $(buttonId).html('Save');
                    $(this).prop('readonly', false);
                }
                DataRow.push($(this).val());
            });

            if($(buttonId).val() === "Edit"){
              $(buttonId).attr('value', 'Save');
            }
            else{
              DataRep = {};
              for(var i = 1 ; i < qualificationSchema.length; i++){
                DataRep[qualificationSchema[i]] = DataRow[i - 1];
              }
              DataRep[qualificationSchema[0]] = $('#' + $(this).attr('id').slice(0, -5) + 'ReadOnly' + $(this).attr('id').slice(-1)).val();// this fetches slNo we need
              
              //we do an ajax call to our apis here
              $.ajax({
                type: 'POST',
                data: JSON.stringify(DataRep),
				        contentType: 'application/json',
                url: '/v1/apis/update/qualification/facultyQualification/',
                success: function(dataRecieved) {
                  //console.log('success');
                  //console.log(JSON.stringify(dataRecieved));
                }
              });
              dataForSelect = {};//the data we want to send to the api

              /*really trying to make it as modular as possible but somehow this cant be done*/
              dataForSelect['schema'] = qualificationSchema.slice(1);
              dataForSelect['whereOption'] = qualificationSchema[0] + '=' + $('#' + $(this).attr('id').slice(0, -5) + 'ReadOnly' + $(this).attr('id').slice(-1)).val();
              /*till here*/

              $.ajax({
                type: 'POST',
                data: JSON.stringify(dataForSelect),
				        contentType: 'application/json',
                url: '/v1/apis/data/facultyQualification/',
                success: function(dataRecieved) {

                  // if there is integrity constraint maintained it should recieve only one result entry
                  var counter = 1;
                  //this code renders the data back to the input entries
                  $('[id=' + buttonId.slice(1, -5) + 'Entry' + buttonId.slice(-1) + ']').each(function(){
                      $(this).val(dataRecieved[0][qualificationSchema[counter++]]);
                  });
                  //end

                }
              });

              $(buttonId).attr('value', 'Edit');
            }

        })
    })

</script>
