
<% include ../partials/header %>
<% include ../partials/faculty-sidebar %>
<% include ../partials/faculty-navbar %>
<% include ../partials/loadTablePartial %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Qualification Details</h4>
                        <p class="category">information about degree, year, university etc.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                              <tr>
                                  <th rowspan="2">Sl. No</th>
                                  <th colspan="3" style="text-align: center">B.E</th>
                                  <th colspan="3" style="text-align: center">M.Tech</th>
                                  <th colspan="3" style="text-align: center">PhD</th>
                              </tr>
                              <tr>
                                  <th>University</th>
                                  <th>Pass Percentage</th>
                                  <th>Year of Passing</th>
                                  <th>University</th>
                                  <th>Pass Percentage</th>
                                  <th>Year of Passing</th>
                                  <th>University</th>
                                  <th>Year of Award</th>
                                  <th>Area of Specialization</th>
                                  <th>faculty id</th>
                              </tr>
                            </thead>
                            <tbody>
                                <% loadInTable(resultSet, 'qualification', ['slNo', 'facultyId'])%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/faculty/generateexcel/<%- type %>/1">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<% include ../partials/footer %>
<script type = "text/javascript">
    $(document).ready(function(){
        $('[id^=qualificationEdit]').click(function(){
            var qualificationSchema = ['slNo', 'beUniversity', 'bePassYear', 'bePassPercentage', 'mtechUniversity', 'mtechPassYear', 'mtechPassPercentage', 'phdUniversity', 'phdAwardYear', 'phdAreaOfSpecialization'];
            buttonId = '#' + $(this).attr('id');

            DataRow = []
            
            $('[id=' + $(this).attr('id').slice(0, -5) + 'Entry' + $(this).attr('id').slice(-1) + ']').each(function(){
                
                if($(this).prop('readonly') === false){
                    $(this).prop('readonly', true);
                }
                else{
                    $(buttonId).html('Save');
                    $(this).prop('readonly', false);
                }
                DataRow.push($(this).val());
            });

            if($(buttonId).val() === "Edit"){
              $(buttonId).attr('value', 'Save');
            }
            else{
              DataRep = {};
              for(var i = 1 ; i < qualificationSchema.length; i++){
                DataRep[qualificationSchema[i]] = DataRow[i - 1];
              }
              DataRep[qualificationSchema[0]] = $('#' + $(this).attr('id').slice(0, -5) + 'ReadOnly' + $(this).attr('id').slice(-1)).val();// this fetches slNo we need
              
              //we do an ajax call to our apis here
              $.ajax({
                type: 'POST',
                data: JSON.stringify(DataRep),
				        contentType: 'application/json',
                url: 'http://localhost:3000/update/qualification/facultyQualification/',
                success: function(dataRecieved) {
                  //console.log('success');
                  //console.log(JSON.stringify(dataRecieved));
                }
              });
              dataForSelect = {};//the data we want to send to the api

              /*really trying to make it as modular as possible but somehow this cant be done*/
              dataForSelect['schema'] = qualificationSchema.slice(1);
              dataForSelect['whereOption'] = qualificationSchema[0] + '=' + $('#' + $(this).attr('id').slice(0, -5) + 'ReadOnly' + $(this).attr('id').slice(-1)).val();
              /*till here*/

              $.ajax({
                type: 'POST',
                data: JSON.stringify(dataForSelect),
				        contentType: 'application/json',
                url: 'http://localhost:3000/data/facultyQualification/',
                success: function(dataRecieved) {

                  // if there is integrity constraint maintained it should recieve only one result entry
                  var counter = 1;
                  //this code renders the data back to the input entries
                  $('[id=' + buttonId.slice(1, -5) + 'Entry' + buttonId.slice(-1) + ']').each(function(){
                      $(this).val(dataRecieved[0][qualificationSchema[counter++]]);
                  });
                  //end

                }
              });

              $(buttonId).attr('value', 'Edit');
            }

        })
    })

</script>
