
<% include ../partials/header %>
<% include ../partials/faculty-sidebar %>
<% include ../partials/faculty-navbar %>
<% include ../partials/loadTablePartial %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Qualification Details</h4>
                        <p class="category">information about degree, year, university etc.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                              <tr>
                                  <th rowspan="2">Sl. No</th>
                                  <th colspan="3" style="text-align: center">B.E</th>
                                  <th colspan="3" style="text-align: center">M.Tech</th>
                                  <th colspan="3" style="text-align: center">PhD</th>
                              </tr>
                              <tr>
                                  <th>University</th>
                                  <th>Pass Percentage</th>
                                  <th>Year of Passing</th>
                                  <th>University</th>
                                  <th>Pass Percentage</th>
                                  <th>Year of Passing</th>
                                  <th>University</th>
                                  <th>Year of Award</th>
                                  <th>Area of Specialization</th>
                                  <th>faculty id</th>
                              </tr>
                            </thead>
                            <tbody>
                                <% loadInTable(resultSet,1, 'facultyQualification')%>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/faculty/generateexcel/<%- type %>/1">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>


<!--model containing form for faculty qualification below -->
<!-- TODO == MAKE MODEL MODULAR -->

<div class="modal fade" id="myModal1" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
  <div class="card">
      <div class="card-header" data-background-color="purple" style="margin-top:-50px;">
          <h4 class="title">Edit Row Data</h4>
      </div>
      <div class="card-content">
          <form>
            <div class="form-group ">
                <label class="control-label">BE University</label>
                <input id="data11" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">BE Pass Percentage</label>
                <input id= "data12" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">BE Year of Passing</label>
                <input id= "data13" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">M.Tech University</label>
                <input id= "data14" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">M.Tech Pass Percentage</label>
                <input id= "data15" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">M.Tech Year of Passing</label>
                <input id= "data16" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">PhD University</label>
                <input id= "data17" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">PhD Year of Award</label>
                <input id= "data18" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">PhD Area of Specialization</label>
                <input id= "data19" type="text" class="form-control">
            </div>
            <!--<button id = "" class="btn btn-primary pull-right">Update</button>-->
            <button type="submit" class="btn btn-warning pull-right">Cancel</button>
            <button type="submit" class="btn btn-danger pull-right">Delete</button>
          </form>
      </div>
    </div>
  </div>
</div>
</div>




<% include ../partials/footer %>

<script type = "text/javascript">
    $(document).ready(function(){
        $(document).ready(function(){
      $('[id^=qualificationEdit]').click(function(){
          //to use this function :
          //1.define the schema like qualificationSchema.
          //2.replace all *Schema variable with new schema Variable defined in 1.
          //3.update rest api update link eg http://localhost:3000/update/qualification/tableName tableName can be found in mappingUrlTable.js
          //4.upate rest api data link eg http://localhost:3000/data/facultyServiceDetails/tableName tableName can be found in mappingUrlTable.js
          //5.Done!!

          var qualificationSchema = ['slNo', 'beUniversity', 'bePassYear', 'bePassPercentage', 'mtechUniversity', 'mtechPassYear', 'mtechPassPercentage', 'phdUniversity', 'phdAwardYear', 'phdAreaOfSpecialization'];

          //console.log(targetInputId + ' entered');
          buttonId = '#' + $(this).attr('id');
          targetInputId = '';
          slNoInputId = '';
          indexOfEdit = buttonId.indexOf('Edit');
          for(var buttonIdi = 1; buttonIdi < indexOfEdit ; buttonIdi++){
            targetInputId += buttonId[buttonIdi];
            slNoInputId += buttonId[buttonIdi];
          }

          targetInputId += 'Entry';
          slNoInputId += 'ReadOnly';

          for(var buttonIdi = indexOfEdit + 4; buttonIdi < buttonId.length ; buttonIdi++){
            targetInputId += buttonId[buttonIdi];
            slNoInputId += buttonId[buttonIdi];
          }
          console.log("The id of the target input is" + targetInputId + " " + slNoInputId);

          //this is the data of the row
          DataRow = []
          //console.log(buttonId);
          $('[id=' + targetInputId + ']').each(function(){
              //console.log($(this).attr('id'));
              //console.log($(this).val());
              if($(this).prop('readonly') === false){
                  //console.log('setting readonly');
                  $(this).prop('readonly', true);
              }
              else{
                  //console.log("unsetting readonly");
                  $(buttonId).html('Save');
                  $(this).prop('readonly', false);
              }
              DataRow.push($(this).val());
          });

          if($(buttonId).val() === "Edit"){
            $(buttonId).attr('value', 'Save');
          }
          else{
            //console.log("Data we got : " + DataRow);
            //Data in correct representation
            DataRep = {};
            for(var i = 1 ; i < qualificationSchema.length; i++){
              DataRep[qualificationSchema[i]] = DataRow[i - 1];
            }
            DataRep[qualificationSchema[0]] = $('#' + slNoInputId).val();// this fetches slNo we need
            //console.log($('#' + slNoInputId).val());
            console.log(JSON.stringify(DataRep));
            //we do an ajax call to our apis here
            $.ajax({
              type: 'POST',
              data: JSON.stringify(DataRep),
              contentType: 'application/json',
              url: 'http://localhost:3000/update/qualification/facultyQualification/',
              success: function(dataRecieved) {
                //console.log('success');
                //console.log(JSON.stringify(dataRecieved));
              }
            });
            dataForSelect = {};//the data we want to send to the api
            /*really trying to make it as modular as possible but somehow this cant be done*/
            dataForSelect['schema'] = qualificationSchema.slice(1);
            dataForSelect['whereOption'] = qualificationSchema[0] + '=' + $('#' + slNoInputId).val();
            /*till here*/

            $.ajax({
              type: 'POST',
              data: JSON.stringify(dataForSelect),
              contentType: 'application/json',
              url: 'http://localhost:3000/data/facultyQualification/',
              success: function(dataRecieved) {
                //console.log('success');
                //console.log(dataRecieved[0]);// if there is integrity constraint maintained it should recieve only one result entry
                var counter = 1;
                //this code renders the data back to the input entries
                $('[id=' + buttonId.slice(1, -5) + 'Entry' + buttonId.slice(-1) + ']').each(function(){
                    //console.log($(this).attr('id'));
                    //console.log(qualificationSchema[counter] + " " + dataRecieved[0][qualificationSchema[counter]])
                    $(this).val(dataRecieved[0][qualificationSchema[counter++]]);
                });
                //end

              }
            });

            $(buttonId).attr('value', 'Edit');
          }

      })
    })
    })

</script>
