<% include ../partials/header %>
<% include ../partials/faculty-sidebar %>
<% include ../partials/faculty-navbar %>
<% include ../partials/loadTablePartial %>

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="purple">
                        <h4 class="title">Service Details</h4>
                        <p class="category">information about duration, designation etc.</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-primary">
                                <th>Sl. No</th>
                                <th>Designation</th>
                                <th>Date of Joining</th>
                                <th>Scale of Pay</th>
                                <th>Promotion Date</th>
                                <th>Years of Experience</th>
                                <th> Faculty Id</th>
                            </thead>
                            <tbody>
                                <% loadInTable(resultSet, 'service', ['slNo', 'facultyId']) %>
                            </tbody>
                        </table>
                    </div>
                    <a href = "/faculty/generateexcel/<%- type %>/1">
                    <button class="btn btn-primary pull-left" style="margin:13px">Generate Excel file</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="myModal" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
  <div class="card">
      <div class="card-header" data-background-color="purple" style="margin-top:-50px;">
          <h4 class="title">Edit Row Data</h4>
      </div>
      <div class="card-content">
          <form>
            <div class="form-group ">
                <label class="control-label" id="label1">Designation</label>
                <input id="data1" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">Date of Joining</label>
                <input id= "data2" type="email" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">Scale of Pay</label>
                <input id= "data3" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">Promotion Date</label>
                <input id= "data4" type="text" class="form-control">
            </div>
            <div class="form-group ">
                <label class="control-label">Years of Experience</label>
                <input id= "data5" type="text" class="form-control">
            </div>
            <button type="submit" class="btn btn-primary pull-right">Update</button>
            <button type="submit" class="btn btn-warning pull-right">Cancel</button>
            <button type="submit" class="btn btn-danger pull-right">Delete</button>          </form>
      </div>
    </div>
  </div>
</div>
</div>





<% include ../partials/footer %>
<script type = "text/javascript">



    $(document).ready(function(){
      //include as id the table you are using eg serviceEdit for service details table and so on
        $('[id^=serviceEdit]').click(function(){
            //to use this function :
            //1.define the schema like serviceSchema.
            //2.replace all *Schema variable with new schema Variable defined in 1.
            //3.update rest api update link eg http://localhost:3000/update/qualification/tableName tableName can be found in mappingUrlTable.js
            //4.upate rest api data link eg http://localhost:3000/data/facultyServiceDetails/tableName tableName can be found in mappingUrlTable.js
            //5.Done!!


            var serviceSchema = ['slNo', 'designation', 'joiningDate', 'payScale', 'promotionDate', 'yearsOfExperience'];
            //console.log($(this).attr('id').slice(0, -5) + 'Entry' + $(this).attr('id').slice(-1) + ' entered');
            buttonId = '#' + $(this).attr('id');
            //this is the data of the row
            DataRow = []
            //console.log(buttonId);
            $('[id=' + $(this).attr('id').slice(0, -5) + 'Entry' + $(this).attr('id').slice(-1) + ']').each(function(){
                //console.log($(this).attr('id'));
                //console.log($(this).val());
                if($(this).prop('readonly') === false){
                    //console.log('setting readonly');
                    $(this).prop('readonly', true);
                }
                else{
                    //console.log("unsetting readonly");
                    $(buttonId).html('Save');
                    $(this).prop('readonly', false);
                }
                DataRow.push($(this).val());
            });

            if($(buttonId).val() === "Edit"){
              $(buttonId).attr('value', 'Save');
            }
            else{
              //console.log("Data we got : " + DataRow);
              //Data in correct representation
              DataRep = {};
              for(var i = 1 ; i < serviceSchema.length; i++){
                DataRep[serviceSchema[i]] = DataRow[i - 1];
              }
              DataRep[serviceSchema[0]] = $('#' + $(this).attr('id').slice(0, -5) + 'ReadOnly' + $(this).attr('id').slice(-1)).val();// this fetches slNo we need
              //console.log(JSON.stringify(DataRep));
              //we do an ajax call to our apis here
              $.ajax({
                type: 'POST',
                data: JSON.stringify(DataRep),
				        contentType: 'application/json',
                url: 'http://localhost:3000/update/qualification/facultyServiceDetails/',
                success: function(dataRecieved) {
                  //console.log('success');
                  //console.log(JSON.stringify(dataRecieved));
                }
              });
              dataForSelect = {};//the data we want to send to the api
              /*really trying to make it as modular as possible but somehow this cant be done*/
              dataForSelect['schema'] = serviceSchema.slice(1);
              dataForSelect['whereOption'] = serviceSchema[0] + '=' + $('#' + $(this).attr('id').slice(0, -5) + 'ReadOnly' + $(this).attr('id').slice(-1)).val();
              /*till here*/

              $.ajax({
                type: 'POST',
                data: JSON.stringify(dataForSelect),
				        contentType: 'application/json',
                url: 'http://localhost:3000/data/facultyServiceDetails/',
                success: function(dataRecieved) {
                  //console.log('success');
                  //console.log(dataRecieved[0]);// if there is integrity constraint maintained it should recieve only one result entry
                  var counter = 1;
                  //this code renders the data back to the input entries
                  $('[id=' + buttonId.slice(1, -5) + 'Entry' + buttonId.slice(-1) + ']').each(function(){
                      //console.log($(this).attr('id'));
                      //console.log(serviceSchema[counter] + " " + dataRecieved[0][serviceSchema[counter]])
                      $(this).val(dataRecieved[0][serviceSchema[counter++]]);
                  });
                  //end

                }
              });

              $(buttonId).attr('value', 'Edit');
            }

        })
    })

</script>
