<body style = "background:url('../assets/img/background_401.jpg')">
    <div style = "position: absolute; top: 50%; left: 33%; color:#FAFAFA; font-size: 18px;">
        Sorry you are not authorized to view this page...
    </div>
</body>