<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/home.css" rel="stylesheet" />
    <script src="/assets/js/jquery-3.2.1.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <link href="/assets/css/material-dashboard.css?v=1.2.0" rel="stylesheet" />

</head>
  <body>
    <nav style=" background-color:#201E3E">
      <img class="img-responsive" src="/assets/img/brand.png" style="height:100px;" />
    </nav>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <!-- Wrapper for slides -->
      <div class="carousel-inner">
        <div class="item active">
          <img style="height:605px; width:100%" src="https://i.pinimg.com/originals/44/5c/fc/445cfc9701e150e91e25eeb0e2525c5d.jpg" alt="Los Angeles">
        </div>

        <div class="item">
          <img style="height:605px; width:100%" src="https://14thfebvalentinesday.com/wp-content/uploads/2016/06/Hd-wallpaper-for-laptop-background-min.jpg" alt="Chicago">
        </div>

        <div class="item">
          <img style="height:605px; width:100%" src="https://wallpaper.wiki/wp-content/uploads/2017/05/wallpaper.wiki-Photos-Amazing-Laptop-Screen-PIC-WPE0012708.jpg" alt="New York">
        </div>
      </div>

    </div>
    <div class="main-text ">
        <div class="col-md-12">
          <div class="row">
          <div class="col-md-4" style="text-align:center">
            <a href="/users">
              <div class="card" style="width:60%;">
                  <div class="card-header card-chart">
                      <img class="img-responsive"src="http://www.nyp.edu.sg/content/dam/nyp/about-nyp/nyp-support-centre-and-services/education-and-career-guidance/students/students.jpg" />
                  </div>
                  <div class="card-content">
                      <h4 class="title">Guest Login</h4>
                        <p class="category">Click here to browse information</p>
                  </div>
              </div>
            </a>
          </div>
          <div class="col-md-4"  style="text-align:center">
            <a href="/faculty/login">
              <div class="card" style="width:60%">
                  <div class="card-header card-chart">
                    <img class="img-responsive"src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqjqo3D9D__JvbS6cl1BtAL7jolPKWb0tsZQLVWYEa92ZTJ80V" />
                  </div>
                  <div class="card-content">
                      <h4 class="title">Faculty Login</h4>
                  </div>
              </div>
            </a>
          </div>
          <div class="col-md-4" style="text-align:center">
            <a href="/admin/login">
              <div class="card" style="width:60%">
                  <div class="card-header card-chart">
                    <img style="height:156px" src="http://aliceblueonline.com/wp-content/uploads/2017/01/admin.png" />
                  </div>
                  <div class="card-content">
                      <h4 class="title">Admin Login</h4>
                  </div>
              </div>
            </a>
          </div>
      </div>
        </div>
    </div>

  </body>
  <script src="/assets/js/home.js"></script>
</html>
