<!DOCTYPE html>
 <html>
   <head>
     <!-- metas here -->
     <!--Let browser know website is optimized for mobile-->
     <meta name="viewport" content="width=device-width, initial-scale=1.0"/>


     <title>
       {{title}}
     </title>

     <!-- links here -->
     <!--Import Google Icon Font-->
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
     <!--Import materialize.css-->

     <link type="text/css" rel="stylesheet" href="stylesheets/materialize/css/materialize.min.css"  media="screen,projection"/>
     <link type="text/css" rel="stylesheet" href="stylesheets/style.css"  media="screen,projection"/>
     <link type="text/css" rel="stylesheet" href="stylesheets/bootstrap/css/bootstrap.min.css"/>


   </head>

   <body>

     <!-- Navbar here-->
     <nav id = "header_parent">
          <div class="nav-wrapper">
              <img src = "/images/brand.png" class="image-class brand-logo"/>
            <ul id="nav-mobile" class="right hide-on-med">
              <li><a href="/login"><i class="material-icons left">account_box</i>Login</a></li>
            </ul>
          </div>
    </nav>


    <nav id = "nav_parent_1" class="sticky-top">
        <div class="nav-wrapper">
            <ul class="left">
                  <!-- Dropdown Trigger -->
                  <a href="/">Home</a>
            </ul>
            <ul class="right">
                  <!-- Dropdown Trigger -->
                  <li><a class="dropdown-button" href="#!" data-activates="Departments_1">Departments<i class="material-icons right">arrow_drop_down</i></a></li>
                  <li><a class="dropdown-button" href="#!" data-activates="Commitees_1">Commitees<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav>
    <!-- <nav id = "nav_parent">
        <div class="nav-wrapper">
            <ul class="left hide-on-med-and-down">

                  <a href="/">Home</a>
            </ul>
            <ul class="right hide-on-med-and-down">

                  <li><a class="dropdown-button" href="#!" data-activates="Departments">Departments<i class="material-icons right">arrow_drop_down</i></a></li>
                  <li><a class="dropdown-button" href="#!" data-activates="Commitees">Commitees<i class="material-icons right">arrow_drop_down</i></a></li>
            </ul>
        </div>
    </nav> -->
    <div id = "body_parent" class="body_padding">
        {{{body}}}
    </div>




        <footer class="page-footer" id = "footer_parent">
          <div class="container">
            <div class="row">
              <div class="col l6 s12">
                <h5 class="white-text">Footer Content</h5>
                <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="container">
            &copy 2014 Copyright Text
            <a class="grey-text text-lighten-4 right" href="#!">More Links</a>
            </div>
          </div>
        </footer>
<!--
        <ul id="Departments" class="dropdown-content">
            <li><a href="/department">General Info</a></li>
            <li><a href="/cse">CSE</a></li>
            <li><a href="#!">ME</a></li>
            <li><a href="#!">ISE</a></li>
        </ul>

        <ul id="Commitees" class="dropdown-content">
            <li><a href="/governance">Governance</a></li>
            <li><a href="#">Finence</a></li>
            <li><a href="#">Acedemic</a></li>
        </ul>
 -->


        <ul id="Departments_1" class="dropdown-content">
            <li><a href="/department">General Info</a></li>
            <li><a href="/department/cse">CSE</a></li>
            <li><a href="/department/me">ME</a></li>
            <li><a href="/department/ise">ISE</a></li>
        </ul>

        <ul id="Commitees_1" class="dropdown-content">
          <li><a href="/governance">Governance</a></li>
          <li><a href="/finance">Finance</a></li>
          <li><a href="/academic">Academic</a></li>
        </ul>
     <!-- Scripts here -->
     <!--Import jQuery before materialize.js-->
     <!-- scripts here-->
     <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
     <script type="text/javascript" src="/stylesheets/materialize/js/materialize.min.js"></script>
     <script src ="/javascripts/first.js"></script>
   </body>
 </html>
