<!-- <div class="sidenav">
  <a href="#">Infrastructure</a>
  <a href="#">Student Achievements</a>
  <a href="#">Activities</a>
  <a href="#">Faculty </a>

</div>


 -->
 <div id="mySidenav" class="sidenav">
   <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
   <a href="#">About</a>
   <a href="#">Services</a>
   <a href="#">Clients</a>
   <a href="#">Contact</a>
 </div>

 <!-- Use any element to open the sidenav -->
<span style="font-size:40px;cursor:pointer; color:#EE6E73; margin-left: 35px;" onclick="openNav()">&#9776;</span>

		<div id="main-content">
				<div class="container" >
					<div class="row" >
						<div class="col-md-12 col-sm-12 col-xs-12" >
							<div class="widget wel-service-1-widget" >
								<div class="widget-title widget-title-s5 text-center">
									<span></span>
									<h3>Department of Computer Science & Engineering</h3>
                  <br><br>
								</div>
								<!-- widget-title -->
								<div class="widget-content">
									<div class="row">
										<div class="col-md-8 col-sm-8 col-xs-12" style="margin-bottom: 0px; padding-bottom: 0px;">
											<div class="" style="margin-bottom: 0px; padding-bottom: 0px;">
												<div class="entry-content">
													<h4>VISION</h4>
													<div class="wel-div-2">
														<p>
															To build a strong learning and research environment in the field of Computer Science and Engineering that responds to the challenges of 21st century.
														</p>
													</div>
													<br>
													<h4>MISSION</h4>
													<div class="wel-div-2">
														<ul>
															<li>
																To produce computer science graduates who, trained in design and implementation of computational systems through competitive curriculum and research in collaboration with industry and other organizations.
															</li>
															<li>
																To educate students in technology competencies by providing professionally committed faculty and staff.
															</li>
															<li>
																To inculcate strong ethical values, leadership abilities and research capabilities in the minds of students so as to work towards the progress of the society.
															</li>
														</ul>
													</div>
													<br>
													<h4>DEPARTMENT PROFILE</h4>
													<div class="wel-div-2">
														<p>
															The Department of Computer science and Engineering (CSE) has four eminent emeritus professors, 7 faculty with the doctorate degree and 17 perusing the doctoral studies. The faculty has been publishing in refereed journals and in conference proceedings. The department also conducts vocational courses and proficiency courses on fundamental and new programming languages and computer science concepts. These courses are conducted beyond college hours/summer semester by the faculty of the department. Some of the faculty are involved in institutional level activities and actively involved in interdisciplinary research activities. The department has state of the art laboratories like SAP, IBM Centre of Excellence and Cuda learning center. Technical seminars, workshops and hackathons are conducted regularly for UG & PG students. The department encourages the students to conduct and participate in extra-curricular/sports activities. The alumni network is very active and regular meeting are conducted by the department. The department is accredited by Nation Board of Accreditation (NBA) for the period of 3 years. The department has MoUs with leading IT Industries like NVIDIA, SAP, IBM and HP.  The department conducts subjects with more of hands-on sessions and encourages students to take up MOOC based online courses in NPTEL, IITBombayX, Coursera, Udacity and edX.
														</p>
													</div>
													<br>
													<h4>DEPARTMENT HISTORY</h4>
													<div class="wel-div-2">
														<p>
															The Department of Computer science and Engineering (CSE) was established in the year 1984 with an initial intake of 30 students in UG programme and enhanced its intake to 120 in the year 1994. In 1998, the department started a PG programme in “Computer Science and Engineering (CSE)” with an intake of 18 students. Presently the department has two PG programs M.Tech in Computer Science & Engineering and M.Tech in Computer Network Engineering with in-take of 30 and 18 students respectively.
														</p>
													</div>
													<br>
												</div>
												<!-- entry-content -->
											</div>
											<!-- entry-box -->
										</div>
										<!--  Sidebar-->
								</div>
								<!-- row -->
							</div>
						</div>
						<!-- widget -->
					</div>
					<!-- col-md-12 -->
				</div>
				<!-- row -->
		</div>
		<!-- container -->
	</div>
