<div class="slider">
    <ul class="slides">
      <li>
        <img src="http://www.myphotocentral.com/wp-content/uploads/2015/09/Landscape-photography-tips-you-have-likely-never-used-4-700x405.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/2"> <!-- random image -->
        <div class="caption left-align">
          <h3>Left Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://lorempixel.com/580/250/nature/3"> <!-- random image -->
        <div class="caption right-align">
          <h3>Right Aligned Caption</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
      <li>
        <img src="https://cdn.mos.cms.futurecdn.net/FUE7XiFApEqWZQ85wYcAfM.jpg"> <!-- random image -->
        <div class="caption center-align">
          <h3>This is our big Tagline!</h3>
          <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
        </div>
      </li>
    </ul>
  </div>

<div class = "row">
<div class = "col s4">
</div>
<div class = "col s4">
        <div class="section white">
            <div class="row container">
                <h2 class="header">Road Not Taken</h2>
                <p class="grey-text text-darken-3 lighten-3">Lets take the road not taken. We're not afraid to overcome our challenges</p>
            </div>
        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="/images/download.jpg"></div>
            <div class="row container parallax-body">
                <h2 class="header">Road Not Taken</h2>
                <p class="grey-text text-darken-3 lighten-3">Lets take the road not taken. We're not afraid to overcome our challenges</p>
            </div>
        </div>
</div>
<div class = "col s4">
</div>
</div>
