<% include ../partials/header %>
<% include ../partials/users-sidebar %>
<% include ../partials/users-navbar %>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Computer Science & Engineering</h4>
                    <p class="category">General Details</p>
                </div>
                <div class="card-content">
                  <h1>hello user</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer %>
